.track-bar-container,
.actions_contain {
  background-color: #fff;
}
.actions_contain {
  margin-bottom: 0;
}
.actions_contain .panel-default .panel-heading {
  background: #fff;
}
.remove-span {
  color: #336;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.icon-cancel:before {
  font-weight: bold;
}
.container-fluid.find-FAQs {
  padding-top: 60px;
}
.container-fluid.find-FAQs .button {
  background: #fff;
  color: #336;
  border: 1px solid #336;
}
.container-fluid.find-FAQs .button:hover {
  background: #ededed;
}
.container-fluid.find-FAQs p {
  color: #000;
}
.actions_contain .panel-default:first-of-type {
  border-top: 1px solid #999;
}
.actions_contain .panel-default {
  border-bottom: 1px solid #999;
}
.product_summary .expected_delivery {
  width: 100%;
}
.row-wrapper {
  padding-top: 40px;
}
.product_summary .expected_delivery h2 .month_year {
  font-size: 16px;
}
.full-subheader {
  background: #fff;
}
.actions_contain .panel-default:last-child {
  border-bottom: 0;
}
.track-bar-container {
  padding-bottom: 0;
  margin-bottom: 0;
}
.button:focus {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
  outline: 0;
}
.btn.search:focus {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}
a:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
  position: relative;
}
input[type="radio"]:focus ~ label,
input[type="checkbox"]:focus ~ span {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}
@media only screen and (max-width: 767.98px) {
  .full-subheader {
    margin-bottom: 0;
  }
  .track-bar-container {
    padding-top: 0;
  }
}
.whatdoesitmean {
  font-size: 14px;
  color: #3573b1 !important;
  padding-left: 10px;
}
.track-another-package-wrapper input {
  resize: none;
  border-right: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group-btn {
  vertical-align: bottom;
}
button.btn.btn-default.search {
  background: transparent url(/go/images/search.svg) no-repeat;
  background-size: 25px 25px;
  background-position: 7px 7px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 0;
  border-left: none;
}
.btn-default {
  color: #336;
  background-color: #fff;
  border-color: #336;
  height: 44px;
  width: 100%;
  text-align: left;
  padding: 6px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.btn-default.search:hover {
  border-color: #000;
}
.btn-default.search:focus {
  outline: 0;
}
.btn-default.search {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.track-another-package-wrapper {
  padding-top: 30px;
}
.tracking-number-wrapper .tracking-label {
  font-size: 14px;
  color: #336;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.tracking-number-wrapper .tracking-number {
  font-size: 26px !important;
  color: #336 !important;
  border: none !important;
  padding-left: 0 !important;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.tn-tools-wrapper a {
  margin-right: 15px;
}
.tracking-number-wrapper .tn-tools-wrapper a {
  color: #3573b1;
  font-size: 14px;
}
.tracking-number-wrapper .tn-tools-wrapper a.copy-tracking-number:before,
.tracking-number-wrapper .tn-tools-wrapper a.add-informed-delivery:before,
.tracking-number-wrapper .tn-tools-wrapper a.tn-schedule-redelivery:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.tracking-number-wrapper .tn-tools-wrapper a.copy-tracking-number:before {
  background-image: url(/go/images/copy-icon.svg);
  left: 0;
  top: 6px;
}
.tracking-number-wrapper .tn-tools-wrapper a.add-informed-delivery:before {
  content: "";
  display: inline-block;
  background-image: url(/go/images/informed-delivery-icon.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 22px;
  width: 22px;
  left: 5px;
  top: 6px;
  margin-right: 8px;
}
.tracking-number-wrapper .tn-tools-wrapper a.tn-schedule-redelivery:before {
  content: "";
  display: inline-block;
  background-image: url(/go/images/redelivery-icon.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 22px;
  width: 22px;
  left: 2px;
  top: 4px;
  margin-right: 8px;
  background-size: 21px 22px;
}
.tn-tools-wrapper a.add-informed-delivery,
.tn-tools-wrapper a.copy-tracking-number,
.tn-tools-wrapper a.tn-schedule-redelivery {
  text-decoration: none;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
}
.copy-notify-container {
  background-color: #ededed;
  padding: 15px 15px 15px 15px;
  display: none;
}
.tracking-copied-notification:before {
  content: "";
  display: inline-block;
  background-image: url(/go/images/success-checkmark.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 22px;
  width: 22px;
  left: -10px;
  top: 1px;
  margin-right: 10px;
}
.tracking-copied-notification {
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  color: #000;
  padding-left: 30px;
  display: inline-flex;
}
.tracking-number-wrapper.delivery-attempt .tn-schedule-redelivery {
  display: inline-block;
}
.expected_delivery.expected-delivery-date-banner-wrapper.blue-banner {
  border-left-color: #3573b1 !important;
  background-color: #e7f6f8;
  padding: 15px 15px 15px 15px;
  border-left: 10px solid;
  margin-top: 0;
}
p.banner-content {
  padding-top: 20px;
  color: #000;
  font-size: 14px;
}
em.day {
  color: #336 !important;
}
span.month_year {
  color: #336 !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}
.latest-update-banner-wrapper.blue-banner {
  border-left-color: #3573b1 !important;
  background-color: #e7f6f8;
  padding: 20px 20px 20px 20px;
  border-left: 10px solid;
}
.latest-update-banner-wrapper.red-banner {
  border-left-color: #e71921 !important;
  background-color: #f4e3db;
  padding: 20px 20px 20px 20px;
  border-left: 10px solid;
}
.banner-content a,
.inline-link.secondary {
  color: #3573b1;
  text-decoration: underline;
  font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
}
p.banner-content {
  padding-top: 20px;
  color: #000;
}
.update-banner-wrapper span {
  color: #336 !important;
}
a.inline-link.whatnext {
  color: #3573b1;
  font-size: 14px;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
}
.horizontal-line-container hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
hr.horizontal-line.red-banner {
  border-top: 1px solid #999;
}
.latest-update-banner-wrapper.green-banner {
  border-left-color: #218748 !important;
  background-color: #ecf3ec;
  padding: 20px 20px 20px 20px;
  border-left: 10px solid;
}
.blue-banner h3.banner-header {
  margin-bottom: 0;
  color: #3573b1;
}
.green-banner h3.banner-header {
  margin-bottom: 0;
  color: #218748;
}
.red-banner h3.banner-header {
  margin-bottom: 0;
  color: #e71921;
}
.product_summary .expected_delivery {
  margin-bottom: 0;
}
h3.banner-header {
  font-weight: normal;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.expandable-content-wrapper.collapsed {
  display: block;
  height: 77px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.red-banner .expandable-content-wrapper.collapsed {
  height: 92px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.red-banner .expandable-content-wrapper.collapsed {
  display: -webkit-box;
}
a.expand-collapse-link {
  font-size: 14px;
  text-align: center;
  display: block;
  padding-top: 15px;
}
a.expand-collapse-link:after {
  background: url(/go/images/blue-caret-down.svg) no-repeat;
  content: "";
  background-size: 15px 10px;
  background-position: 0 0;
  height: 10px;
  width: 15px;
  display: inline-block;
  padding-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}
a.expand-collapse-link.active:after {
  transform: rotate(180deg);
}
#whatsNextModal .modal-dialog {
  width: 410px;
}
#whatsNextModal .ii-tooltip-modal {
  width: 100%;
}
#whatsNextModal .ii-tooltip-modal-content {
  padding-right: 20px;
}
#whatsNextModal p {
  font-size: 14px;
}
span.speech_bubble.expected-delivery-popover {
  padding: 20px 15px 15px 15px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  font-weight: normal;
  right: -130px;
}
.speech_bubble.expected-delivery-popover h3 {
  font-weight: normal;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #336;
}
span.speech_bubble.expected-delivery-popover span {
  color: #000 !important;
  padding-top: 20px;
}
.speech_bubble.expected-delivery-popover:before,
.speech_bubble.expected-delivery-popover:after {
  right: 130px;
}
.speech_bubble.expected-delivery-popover:after {
  bottom: -19px;
}
.tooltip-dd-title {
  padding-bottom: 20px;
}
.dd_bubble {
  padding-top: 20px !important;
}
span.speech_bubble.expected-delivery-popover a span {
  padding-top: 0;
}
@media only screen and (min-width: 320.98px) and (max-width: 390.98px) {
  #whatsNextModal .modal-dialog {
    width: 99%;
    margin: 1.75rem auto;
    min-height: calc(99% - (1.75rem * 2));
  }
  #whatsNextModal .ii-tooltip-modal-content {
    padding-left: 0;
    padding-right: 0;
  }
  #whatsNextModal .ii-tooltip-text-info h3 {
    padding-left: 0;
  }
}
.tb-step,
.delivered-status.expanded .tb-step {
  border-left: 4px solid #336;
  padding-left: 20px;
  display: inline-block;
  margin-left: 9px;
  width: 100%;
  padding-bottom: 30px;
}
.delivered-status .tb-step {
  padding-bottom: 15px;
}
.tb-step:before {
  border: 5px solid #336;
  content: "";
  border-radius: 9px;
  display: inline-block;
  background-color: #336;
  left: 6.4px;
  position: absolute;
  outline-color: #fff;
  outline-style: solid;
  z-index: 99;
}
.current-step .tb-status {
  font-size: 18px;
}
.tb-status,
.tb-status-detail,
.tb-location-date,
.tb-status-sub-detail {
  font-weight: normal;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #336;
}
.tb-status {
  color: #3573b1;
}
.tb-status-whithheld {
  color: #f32013;
  display: flex;
  align-items: center;
  gap: 0px 5px;
}

.tb-status-whithheld img {
  height: 18px;
}
.preshipment-status .tb-status {
  padding-left: 29px;
}
.shipping-partner-status .tb-status,
.addressee-unknown-status .tb-status,
.delivery-attempt-status .tb-status,
.item-pickedup-status .tb-status {
  padding-left: 33px;
}
.current-step .tb-status-detail {
  font-size: 14px;
}
.tb-step.current-step:before {
  animation: blue-pulse 2s 3;
  border: 7px solid #336;
  background: #336;
  left: -8.5px;
  top: 25px;
}
.preshipment-status .tb-step.current-step:before,
.shipping-partner-status .tb-step.current-step:before,
.label-created-status .tb-step.current-step:before,
.addressee-unknown-status .tb-step.current-step:before,
.delivery-attempt-status .tb-step.current-step:before,
.item-pickedup-status .tb-step.current-step:before {
  top: 0;
}
.tb-step.current-step {
  border-left: 4px solid #d8d8d8;
}
.tb-location,
.tb-date {
  font-size: 14px;
  font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #595959;
  padding-top: 5px;
}
.tb-location + .tb-date {
  padding-top: 0;
}
.tb-step.toggle-history-container,
.delivered-status.expanded .tb-step.toggle-history-container {
  padding-left: 24px;
}
.delivered-status .tb-step.toggle-history-container {
  padding-left: 21px;
}
a.expand-collapse-history {
  color: #3573b1;
  font-size: 12px;
}
.track-statusbar {
  min-width: 100%;
}
.futuresteps {
  border-image: linear-gradient(
    to bottom,
    rgba(216, 216, 216, 0) 0,
    rgba(216, 216, 216, 1) 0,
    rgba(216, 216, 216, 1) 37%,
    rgba(216, 216, 216, 0) 37%
  ) !important;
  border-image-slice: 1 !important;
  border-top: none !important;
}
.tracking-progress-bar-status-container .tb-step:last-child:not(.futuresteps) {
  border: 0;
}
.toggle-history-container {
  display: block;
}
.tb-step.collapsed {
  display: none;
}
.expanded .tb-step.collapsed {
  display: block;
}
.upcoming-step {
  border-left: 4px solid #d8d8d8;
  padding-left: 20px;
  display: inline-block;
  margin-left: 9px;
  width: 100%;
  padding-bottom: 25px;
}
.upcoming-status {
  font-weight: normal;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #999;
  font-size: 12px;
}
.upcoming-step:before {
  content: "";
  border-radius: 7px;
  display: inline-block;
  border: 2px solid #595959;
  background: #595959;
  left: 9px;
  position: absolute;
  outline-color: #fff;
  outline-style: solid;
}
.delivery-attempt-status .tb-step.current-step:before,
.addressee-unknown-status .tb-step.current-step:before {
  animation: red-pulse 2s 3;
  border: 7px solid #e71921;
  background: #e71921;
  left: -8.5px;
  background: #e71921;
}
.delivery-attempt-status .tb-status,
.addressee-unknown-status .tb-status {
  color: #e71921;
}
.delivered-status .tb-step.current-step:before {
  content: "";
  background-image: url(/go/images/success-checkmark.svg);
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  left: -8.5px;
  top: 0;
  border: 0;
  background-color: #fff;
  animation: none;
}
.delivered-status .tb-status {
  color: #218748;
}
.delivered-status .tb-step.current-step {
  width: 360px;
}
.delivered-status .tb-step.current-step {
  border-left: none;
  padding-left: 21px;
}
.delivered-status .tb-step.toggle-history-container:before {
  border: 0;
}
.delivered-status.expanded .tb-step.current-step {
  border-left: 4px solid #d8d8d8;
}
.delivered-status.expanded .tb-step.current-step:before {
  animation: green-pulse 2s 3;
  border: 7px solid #218748;
  background: #218748;
  left: -9px;
  background: #218748;
  width: 0;
  height: 0;
}
.delivered-status.expanded .tb-step.toggle-history-container:before {
  border: 5px solid #336;
}
.delivered-status .tb-status-sub-detail {
  padding-top: 5px;
}
.tb-step.current-step {
  position: relative;
}
.bar-fill-animation {
  position: absolute;
  left: -4px;
  top: 25px;
  width: 4px;
  height: 100%;
  background-image: linear-gradient(#336, #336);
  background-position: bottom;
  background-size: 4px 0;
  background-repeat: no-repeat;
  animation: bar-fill 2s forwards linear;
}
.preshipment-status .bar-fill-animation,
.shipping-partner-status .bar-fill-animation,
.label-created-status .bar-fill-animation,
.addressee-unknown-status .bar-fill-animation,
.delivered-status .bar-fill-animation,
.delivery-attempt-status .bar-fill-animation,
.item-pickedup-status .bar-fill-animation {
  top: 6px;
}
@keyframes bar-fill {
  50% {
    background-size: 4px 100%;
  }
  to {
    background-size: 4px 100%;
  }
}
.delivered-status .bar-fill-animation {
  display: none;
}
.first-track-history .bar-fill-animation {
  display: none;
}
.delivered-status.expanded .bar-fill-animation,
.delivered-status.expanded .tb-location,
.delivered-status.expanded .tb-date {
  display: block;
}
.tb-status-detail {
  font-size: 14px;
}
.no-history-spacer {
  height: 14px;
}
@media only screen and (max-width: 767.98px) {
  .tracking-progress-bar-status-container {
    padding-top: 35px;
  }
}
@keyframes blue-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 2);
  }
  50% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
@keyframes red-pulse {
  0% {
    box-shadow: 0 0 0 0 #e71921;
  }
  50% {
    box-shadow: 0 0 0 0 #e7192102;
  }
  100% {
    box-shadow: 0 0 0 20px #e7192100;
  }
}
@keyframes green-pulse {
  0% {
    box-shadow: 0 0 0 0 #218748;
  }
  50% {
    box-shadow: 0 0 0 0 #21874802;
  }
  100% {
    box-shadow: 0 0 0 20px #21874800;
  }
}
.full-error-banner {
  min-width: 38vw;
}
.update-banner-wrapper .container-fluid:nth-child(n + 1):nth-child(-n + 13) {
  display: none;
}
.update-banner-wrapper.all-banners .container-fluid,
.update-banner-wrapper.banner-1 .container-fluid:nth-child(1),
.update-banner-wrapper.banner-2 .container-fluid:nth-child(2),
.update-banner-wrapper.banner-3 .container-fluid:nth-child(3),
.update-banner-wrapper.banner-4 .container-fluid:nth-child(4),
.update-banner-wrapper.banner-5 .container-fluid:nth-child(5),
.update-banner-wrapper.banner-6 .container-fluid:nth-child(6),
.update-banner-wrapper.banner-7 .container-fluid:nth-child(7),
.update-banner-wrapper.banner-8 .container-fluid:nth-child(8),
.update-banner-wrapper.banner-9 .container-fluid:nth-child(9),
.update-banner-wrapper.banner-10 .container-fluid:nth-child(10),
.update-banner-wrapper.banner-11 .container-fluid:nth-child(11),
.update-banner-wrapper.banner-12 .container-fluid:nth-child(12),
.update-banner-wrapper.banner-13 .container-fluid:nth-child(13) {
  display: block;
}
.tracking_service_availability hr {
  border: solid #336;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}
.tracking_service_availability h5 {
  color: #336;
  font-size: 14px;
}
.premiumTrackingChev:before {
  content: "";
  display: inline-block;
  background-image: url(/go/images/tracking.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 22px;
  width: 22px;
  left: 0;
  top: 6px;
  margin-right: 5px;
}
